{% comment %}
  Copyright 2022 Richard Dominick
{% endcomment %}
{% capture newline %}
{% endcapture %}
{% assign entry_names = site.glossary | map: 'name' %}
{% capture entry_keys %}{% for name in entry_names %}{{ name | downcase | slugify }};{% endfor %}{% endcapture %}
{% assign entry_keys = entry_keys | split: ';' %}
{%- assign nodes = include.html
  | strip
  | split: '[['
-%}
{{ nodes.first }}
{%- for node in nodes offset:1 -%}
  {% assign data = node | split: ']]' %}{% assign tag = data | first | strip | split: ':' %}{% assign key = tag | first | strip %}{% assign label = tag | last | strip %}
  {%- if entry_keys contains key -%}
    {%- for entry in site.glossary -%}
      {%- if entry_keys[forloop.index0] == key -%}
        <span class="def-tooltip">
          <a href="#glossary-{{ key }}">{{ label }}</a>
          <span class="popup">{{ entry.content | split: newline | first | markdownify | strip_html }}<br>
            <i>Click to view glossary</i>
          </span>
        </span>{% break %}
      {% endif %}{% endfor %}
    {%- for tail in data offset:1 -%}
      {{ tail }}
    {%- endfor -%}
  {%-else -%}
    [[{{ node }}
  {%- endif -%}
{%- endfor -%}
